@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a, a:hover{
    color: black;
    text-decoration: none;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    z-index: 1000;
    .icon-toggle{
        position: absolute;
        top: 20px;
        color: #b14f0e;
        z-index: 1000;
        left: 30px;
        font-size: 40px;
        display: none;
        &.fa-times{
            display: none;
        }
    }
    &.nav-active{
        background-color: hsl(36deg, 90%, 84%);
        transition: background-color 1s;
    }
    .nav-scrolling{
        background-color: #bd7e7e;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.2s;
    }
    .row{
        align-items: center;
        justify-content: space-between; 
        .logo{
            display: flex;
            a{
                font-size: 25px;
                font-weight: 700;
                letter-spacing: 5px;
                font-family: 'Lobster', cursive;
            }
        }
        nav{
            ul{
                display: flex;
                align-items: center;
                list-style: none;
                margin: 0;
                li{
                    padding: 10px 0;
                    a{
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 992px){
        background-color: hsl(36deg, 90%, 84%);
        .icon-toggle{
            display: block;
        }
        .row{
            .logo{
                justify-content: center;
                a{
                    font-size: 40px;
                }
            }
            nav{
                display: none;
                padding: 40px;
                .row{
                    flex-direction: column;
                    text-align: center;
                    align-items: space-between;
                    padding: 0;
                    li{
                        margin: 10px 0;
                        a{
                            font-size: 40px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
.header{
    position: relative;
    margin-bottom: 20px;
    .row{
        align-items: center;
        justify-content: space-between;
        .left{
            display: flex;
            flex-direction: column;
            padding-left: 40px;
            .content{
                display: flex;
                flex-direction: column;
                h1{
                    font-size: 50px;
                    font-weight: 700;
                    margin-bottom: 25px;
                }
                h4{
                    font-size: 35px;
                    font-weight: 300;
                }
                p{
                    padding: 7px 0;
                    margin: 15px 0;
                    color: #858585;
                }
            }
            button{
                background: #fa924b;
                padding: 11px 30px;
                border: none;
                border-radius: 0 40px 40px 40px;
                font-size: 20px;
                font-weight: 700;
                color: #fff;
                margin: 10px 0;
            }
            .food_details{
                display: flex;
                color: #666666;
                align-items: center;
                margin-right: 15px;
                margin-top: 20px;
                .icon{
                    display: block;
                    font-size: 50px;
                    margin: 10px;
                    color: #b8856f;
                }
                div{
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                    strong{
                        display: block;
                        font-size: 25px;
                    }
                    small{
                        font-size: 20px;
                    }
                }
                .cal, .cheese{
                    display: block;
                }
            }
        }
        .right{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 600px;
                height: 600px;
                border-radius: 50%;
            }
        }
    }
    @media screen  and (max-width: 768px){
        text-align: center;
        margin-bottom: 60px;
        .row{
            .right{
                order: 1;
                img{
                    width: 400px;
                    height: 400px;
                }
            }
            .left{
                order: 2;
                align-items: center;
                text-align: center;
                .content{
                    p{
                        font-size: 20px;
                    }
                }
                button{
                    margin: 20px 0;
                }
            }
        }
        
    }
}
.favorite{
    .heading{
        h2{
            font-weight: 700;
            font-size: 40px;
        }
        h4{
            font-weight: 300;
            font-size: 30px;
            margin: 10px 0;
        }
    }
    .items{
        .fr, .sec, .thr{
            display: flex;
            height: 500px;
            justify-content: center;
        }
        .sec{
            align-items: center;
        }
        .thr{
            align-items: flex-end;
        }
        .favorite-items{
            .content{
                .img{
                    width: 200px;
                    height: 200px;
                    border: 3px dashed #fdbf96;
                    border-radius: 50%;
                    overflow: hidden;
                    padding: 15px;
                    box-shadow: 0 -50px  1px #fbdcc96b;
                }
                .data{
                    width: 200px;
                    height: 200px;
                    position: relative;
                    margin-top: -80px;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background: rgb(240,150,88);
                    background: linear-gradient(180deg, rgba(240,150,88,1) 3%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
                    .name{
                        font-weight: 700;
                        font-size: 23px;
                        margin: 0;
                    }
                    .cheese-name{
                        font-weight: 400;
                        font-size: 21px;
                        color: #7e7e7e;
                        margin: 10px 0;
                    }
                    .price{
                        font-weight: 700;
                        font-size: 23px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px){
        .heading{
            margin-bottom: 50px;
        }
        .items{
            .fr, .sec, .thr{
                display: flex;
                height: 400px;
                justify-content: center;
                align-items: flex-start;
            }
        }
    }
}
.about{
    margin: 30px 0;
    .row{
        align-items: center;
        .img{
            img{
            width: 500px;
            height: 500px;
            cursor: pointer;
            }
        }
        .content{
            position: relative;
            h2{
                font-weight: 700;
                font-size: 50px;
                margin: 0;
            }
            h4{
                font-weight: 500;
                font-size: 30px;
                margin: 10px 0;
            }
            p:first-of-type{
                font-size: 30px;
                margin-top: 30px;
            }
            button{
                background: #000;
                padding: 11px 30px;
                border: none;
                border-radius: 0 40px 40px 40px;
                font-size: 20px;
                font-weight: 700;
                color: #fff;
                margin: 20px 0;
            }
            @mixin ANIMATION {
                @keyframes slice {
                    from{
                        transform: rotate(0deg);
                    }
                    to{
                        transform: rotate(360deg);
                    }
                }
                animation: slice 2s  ease-in-out infinite both;
            }
            .pizza-slice{
                position: absolute;
                bottom: 0%;
                right: 30%;
                width: 100px;
                height: 100px;
                transform: rotate(120deg);
                transition: transform 2s;
                @include ANIMATION ;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
            text-align: center;
            
        }
    }
}
.features{
    margin:100px 0 40px;
    padding: 50px;
    padding-top: 100px;
    background: rgb(255,248,243);
    background: radial-gradient(circle, rgba(255,248,243,1) 19%, rgba(255,243,235,1) 91%, rgba(255,255,255,1) 100%);
    .heading{
        text-align: center;
        margin-bottom: 100px;
        h2{
            font-weight: 700;
            font-size: 40px;
            margin: 0;
        }
        h4{
            font-weight: 300;
            font-size: 40px;
            margin: 10px 0;
        }
    }
    .feature{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h2{
            font-size: 40px;
            font-weight: 700;
            margin: 20px;
        }
        p{
            text-align: center;
            padding: 10px;
            font-size: 17px;line-height: 1.5;
            color: #666666;
        }
        .icon{
            font-size: 80px;
            margin-bottom: 40px;
        }
    }
}
.partners{
    margin-bottom: 30px;
    .heading{
        text-align: center;
        margin-bottom: 20px;
        h2{
            font-weight: 700;
            font-size: 35px;
            margin: 0;
        }
        h4{
            font-weight: 300;
            font-size: 35px;
            margin: 10px 0;
        }
    }
    .col {
        img{
            filter: grayscale(100%);
            transition: filter 1s;
            cursor: pointer;
            &:hover{
                filter: grayscale(0);
            }
        }
    }
    @media screen and (max-width: 768px){
        
        .heading{
            h2{
                font-size: 25px;
            }
            h4{
                font-size: 30px;
            }
        }
    }
}
.footer{
    padding: 60px;
    padding-bottom: 20px;
    background: rgb(255,248,243);
    background: radial-gradient(circle, rgb(245, 207, 179) 19%, rgba(243, 177, 132, 0.582) 91%, rgb(248, 206, 206) 100%);
    .row{
        justify-content: space-around;
        .data{
            display: flex;
            flex-direction: column;
            h3{
                font-size: 25px;
                font-weight: 700;
                margin-bottom: 30px;
            }
            a{
                font-size: 20px;
                margin: 5px 0;
            }
        }
    }
    @media screen and (max-width: 768px){
        .data{
            align-items: center;
            h3{
                margin: 30px;
            }
        }
    }
}